<nav class="nav navbar-expand-sm bg-light">
  <div class="container-fluid px-5 my-4">
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ">
        <a routerLink="" rouetrLinkActive="active current" style="padding-left: 10px;">Home</a>

        <a routerLink="/users" rouetrLinkActive="active current" style="padding-left: 10px;">Users</a>

        <a rouetrLinkActive="active current" routerLink="/quotes" style="padding-left: 10px;">Quotes</a>
      </div>
    </div>
  </div>
</nav>
